.container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 60%;
  margin: auto;
}
.text {
  min-height: 150px;
}

.create-post-btn {
  align-self: flex-end;
  width: 10%;
  background-color: #ff4500;
  color: white;
}
.create-post-btn:hover {
  background-color: #ed3f00;
}
