@import '~@angular/material/theming';

@include mat-core();

$wreddit-theme-primary: mat-palette($mat-blue, 400);
$wreddit-theme-accent: mat-palette($mat-blue, 700);
$wreddit-theme-warn: mat-palette($mat-red);

$wreddit-theme: mat-light-theme($wreddit-theme-primary, $wreddit-theme-accent, $wreddit-theme-warn);

@include angular-material-theme($wreddit-theme);