<div class="post-box" routerLink="/">
  <div class="post-votes-details-wrapper">
    <div class="post-votes">
      <ng-container *ngIf="isVoted === 1">
        <button class="upvote upvoted" (click)="votePost(post.id, 1)">
          &#8679;
        </button>
        <!-- code for arrow up -->
        <div class="vote-balance">{{ post.upvotes - post.downvotes }}</div>
        <button class="downvote" (click)="votePost(post.id, -1)">&#8681;</button>
      </ng-container>

      <ng-container *ngIf="isVoted === -1">
        <button class="upvote" (click)="votePost(post.id, 1)">&#8679;</button>
        <!-- code for arrow up -->
        <div class="vote-balance">{{ post.upvotes - post.downvotes }}</div>
        <button class="downvote downvoted" (click)="votePost(post.id, -1)">
          &#8681;
        </button>
      </ng-container>

      <ng-container *ngIf="isVoted === 0">
        <button class="upvote" (click)="votePost(post.id, 1)">&#8679;</button>
        <!-- code for arrow up -->
        <div class="vote-balance">{{ post.upvotes - post.downvotes }}</div>
        <button class="downvote" (click)="votePost(post.id, -1)">&#8681;</button>
      </ng-container>
      <!-- code for arrow down -->
    </div>

    <div class="post-details" (click)="goToPostPage(post.id)">
      <div class="author-timestamp-wrapper">
        <div class="post-author">{{ post.user.userName }}</div>

        <!-- getPostAuthor()-->
        <div class="post-timestamp">3h ago</div>
      </div>

      <div class="post-title">{{ post.title }}</div>

      <div class="post-content">
        {{ post.text }}
      </div>
    </div>
  </div>

  <div class="lower-post-links-wrapper">
    <div class="comment-count">0 Comments</div>

    <div class="share-post-link" routerLink="/login">
      <div class="share-icon">&#10532;</div>
      Share
    </div>
  </div>
</div>
