<div class="navbar">
  <a class="navbar-brand" routerLink="/" style="color: white">
    <img
      src="/assets/images/fake-icon.png"
      width="30"
      height="30"
      alt="app logo"
    />
    &nbsp; Wreddit
  </a>
  
  <div class="account-control">
    <button  routerLink="/login" mat-stroked-button>Log In</button>
    <button  routerLink="/signup" mat-stroked-button>Sign Up</button>
    <!-- <button  routerLink="/" (click)="logout()" mat-stroked-button>Log Out</button> -->
  </div>
</div>

<router-outlet></router-outlet>
