<div class="login-form">
  <div class="login-left-panel">
    <img src="/assets/images/login-left-side.png" alt="login-panel">
  </div>

  <div class = "login-wrapper">
     <div class="title-cell">Login</div>

     <form class="login-input-wrapper" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >  
       <mat-form-field class="email-box" appearance="fill">
         <mat-label>Email</mat-label>
         <input matInput placeholder="pat@example.com" formControlName="email" [formControl]="email" required>
         <mat-error *ngIf="email.invalid">{{getEmailError()}}</mat-error>
       </mat-form-field>

       <mat-form-field class="password-box" appearance="fill">
         <mat-label>Password</mat-label>
         <input matInput type="password" formControlName="password" placeholder="Password" required>
         <mat-error> </mat-error> <!-- to be done -->
       </mat-form-field>

       <button class="auth-button" type="submit" color="accent">Log In</button>
      </form>
     
     <div class="lower-form"> New to Reddit?
       <div class="lower-link" routerLink="/signup">SIGN UP</div>
     </div>
  </div>
  <div routerLink="/" class="close-button">&#x2715;</div> <!-- html code for close icon -->
</div>

