<div class="signup-form">
    <div class="signup-left-panel">
      <img src="/assets/images/login-left-side.png" alt="signup-panel">
    </div>
  
    <div class = "signup-wrapper">
       <div class="title-cell">Sign Up</div>
  
       <div class="signup-input-wrapper">  
         <mat-form-field class="email-box" appearance="fill">
           <mat-label>Email</mat-label>
           <input matInput placeholder="pat@example.com" [formControl]="email" required>
           <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
         </mat-form-field>

         <mat-form-field class="username-box" appearance="fill">
           <mat-label>Username</mat-label>
           <input matInput type="text" placeholder="Username" required>
           <mat-error></mat-error>
         </mat-form-field> 

         <mat-form-field class="password-box" appearance="fill">
           <mat-label>Password</mat-label>
           <input matInput type="password" placeholder="Password" required>
           <mat-error></mat-error>
         </mat-form-field>
  
         <button class="auth-button" mat-raised-button color="accent">Sign Up</button>
       </div>
       
       <div class="lower-form"> Already a redditor?
         <div class="lower-link" routerLink="/login">LOG IN</div>
       </div>
    </div>
    <div routerLink="/" class="close-button">&#x2715;</div> <!-- html code for close icon -->
  </div>
