<div class="container">
  <div class="post-container">
    <div class="post-votes">
      <ng-container *ngIf="isVoted === 1">
        <button class="upvote upvoted" (click)="votePost(post.id, 1)">
          &#8679;
        </button>
        <!-- code for arrow up -->
        <div class="vote-balance">{{ post.upvotes - post.downvotes }}</div>
        <button class="downvote" (click)="votePost(post.id, -1)">&#8681;</button>
      </ng-container>

      <ng-container *ngIf="isVoted === -1">
        <button class="upvote" (click)="votePost(post.id, 1)">&#8679;</button>
        <!-- code for arrow up -->
        <div class="vote-balance">{{ post.upvotes - post.downvotes }}</div>
        <button class="downvote downvoted" (click)="votePost(post.id, -1)">
          &#8681;
        </button>
      </ng-container>

      <ng-container *ngIf="isVoted === 0">
        <button class="upvote" (click)="votePost(post.id, 1)">&#8679;</button>
        <!-- code for arrow up -->
        <div class="vote-balance">{{ post.upvotes - post.downvotes }}</div>
        <button class="downvote" (click)="votePost(post.id, -1)">&#8681;</button>
      </ng-container>
      <!-- code for arrow down -->
    </div>
    <div class="post-content">
      <div class="post-text">
        <div class="autor-text">posted by autor 17 hours ago</div>
        <h1>{{ post.title }}</h1>
        <div>
          {{ post.text }}
        </div>
      </div>
      <div class="lower-post-links-wrapper">
        <div class="comment-count">0 Comments</div>
        <div class="share-post-link">
          <div class="share-icon">&#10532;</div>
          Share
        </div>
        <div class="share-post-link">Save</div>
      </div>
      <div class="comment-form">
        <!-- <mat-form-field floatLabel="never"> -->
        <!-- <mat-label>Text</mat-label> -->
        <textarea
          class="comment-text"
          matNativeControl
          placeholder="What are your thoughts? "
          [formControl]="content"
        ></textarea>
        <button mat-raised-button (click)="handleCreateCommentClick()">
          Comment
        </button>
        <p>sort by: best</p>
        <!-- </mat-form-field> -->
      </div>
    </div>
  </div>
  <div class="comments-container">
    <div class="comment" *ngFor="let comment of comments">
      <div class="comment-author">
        {{ comment.user.userName }} <span>9 hr ago</span>
      </div>
      <div class="comment-text">{{ comment.content }}</div>
      <div class="comment-votes">
        <button class="upvote" (click)="voteComment(comment.id, 'upvote')">&#8679;</button>
        <!-- code for arrow up -->
        <div class="vote-balance">{{comment.upvotes - comment.downvotes}}</div>
        <button class="downvote" (click)="voteComment(comment.id, 'downvote')">&#8681;</button>
        <!-- code for arrow down -->
        <a>Reply</a>
        <a>Report</a>
      </div>
    </div>
  </div>
</div>
